body{
    background-color: rgba(45, 44, 138, 0.904);
}
.card {
    margin-top: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    width: 22rem;
    height: 30rem;
}
.attackBtn {
    margin-top: 3.5rem;
}
.col-6 {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}